@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
}

*:focus {
  box-shadow: none !important;
}

*, html {
  scroll-behavior: smooth;
  scrollbar-color: #0e24bb transparent;
  scrollbar-width: thin;
}

::selection {
  background: #0e24bb;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0e24bb;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Assistant", "Noto Sans Bengali", sans-serif;
  background-color: #f2f3f4;
}
body a {
  color: #202124;
  text-decoration: none;
}

.details, .more {
  padding: 0.5rem 1.125rem;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid #0e24bb;
  color: #0e24bb;
  background-color: transparent;
  transition: all ease 0.3s;
}
.details:hover, .more:hover {
  color: #ffffff;
  background-color: #0e24bb;
}

.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 40px;
  color: #0e24bb;
  border: 2px solid #0e24bb;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all ease 0.3s;
}
.indicator:hover {
  color: #ffffff;
  background-color: #0e24bb;
}

.get-a-quote {
  background-color: #FB1072;
  padding: 1.125rem 1.5rem;
  border-radius: 30px;
  transition: all ease 0.3s;
  color: #ffffff;
}
.get-a-quote.animate {
  padding: 0.5rem 1rem;
}
.get-a-quote.animate span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  margin: 0 4px -3px -4px;
  animation: getAQuoteAnimate 2.5s infinite;
}
@keyframes getAQuoteAnimate {
  0% {
    box-shadow: 0 0 0 0 white;
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.get-a-quote:hover {
  color: #ffffff;
  background-color: #0e24bb;
}

.more {
  padding: 0.8rem 1.5rem !important;
}
.more i {
  font-size: 1.125rem;
  margin-left: 5px;
}

.details {
  padding: 0.8rem 1.75rem !important;
  border-radius: 28px;
  border-color: #FB1072;
  background-color: #FB1072;
  color: #ffffff;
  font-weight: 800;
}
.details i {
  font-size: 1.125rem;
  margin-left: 5px;
}
.details:hover {
  border-color: #0e24bb;
  background-color: #0e24bb;
}

svg.view {
  width: 100px;
}

svg.maxsop path {
  fill: #ffffff;
}
svg.maxsop.dark path {
  fill: #0e24bb;
}

.app-aside {
  display: flex;
  width: 320px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
  border-right: 1px solid #f2f3f4;
}
.app-aside .nav {
  display: flex;
  flex-direction: column;
  max-width: 64px;
  width: 100%;
  border-right: 1px solid #f2f3f4;
  position: relative;
}
.app-aside .nav .brand {
  display: block;
  padding: 12px 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid #f2f3f4;
}
.app-aside .nav .brand img {
  max-width: 33px;
  width: 100%;
}
.app-aside .nav button, .app-aside .nav a {
  border: 4px solid transparent;
  margin-bottom: 2px;
  background-color: transparent;
  text-align: center;
}
.app-aside .nav button i, .app-aside .nav a i {
  font-size: 1.375rem;
}
.app-aside .nav button.active, .app-aside .nav a.active {
  border-left: 4px solid #0e24bb;
}
.app-aside .nav button.active i, .app-aside .nav a.active i {
  color: #0e24bb;
}
.app-aside .nav div {
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.app-aside .tab-content {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}
.app-aside .tab-content h3 {
  padding: 12px 16px;
  font-weight: 800;
  border-bottom: 1px solid #f2f3f4;
}
.app-aside .tab-content ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.4rem 1rem;
}
.app-aside .tab-content ul li a i {
  margin-right: 8px;
}
.app-aside .tab-content ul li a:hover {
  background-color: #f2f3f4;
}
.app-aside .tab-content ul li a.active {
  background-color: #f2f3f4;
}
.app-aside .tab-content ul li a.accordion-button:not(.collapsed) {
  background-color: #f2f3f4;
  box-shadow: none;
}
.app-aside .tab-content ul li a.accordion-button::after {
  opacity: 0.5;
}
.app-aside .tab-content ul li ul li a {
  position: relative;
  padding-left: 20px;
}
.app-aside .tab-content ul li ul li a::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #202124;
  margin-right: 10px;
}

.aside-toggle .app-aside {
  width: 64px;
}
.aside-toggle .app-aside .tab-content {
  width: 0;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 992px) {
  .app-aside {
    width: 64px;
  }
  .app-aside .tab-content {
    opacity: 0;
    visibility: hidden;
    width: 0;
  }
  .aside-toggle .app-aside {
    width: 320px;
  }
  .aside-toggle .app-aside .tab-content {
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
  .aside-toggle .overlay {
    display: block;
    background-color: rgba(32, 33, 36, 0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
  }
}
.app-content {
  margin-left: 320px;
  min-height: 100vh;
  position: relative;
}
.app-content section {
  padding: 0 16px;
}
.app-content section div {
  width: 100%;
  height: 100vh;
}

.aside-toggle .app-content {
  margin-left: 64px;
}

@media (max-width: 992px) {
  .app-content {
    margin-left: 64px;
  }
}
.app-navigation {
  background-color: #ffffff;
  padding: 0 16px;
  border-bottom: 1px solid #f2f3f4;
}
.app-navigation ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
.app-navigation ul li {
  position: relative;
}
.app-navigation ul li a {
  display: inline-block;
  padding: 10px 16px;
  font-size: 1.375rem;
  position: relative;
}
.app-navigation ul li a .highlight {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: #202124;
  background-color: #FB1072;
  position: absolute;
  top: 10px;
  right: 10px;
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.app-navigation ul li a.user img {
  width: 36px;
  border-radius: 50%;
}
.app-navigation ul li ul {
  display: none;
  width: 350px;
  background-color: #ffffff;
  box-shadow: 0 5px 5px -3px rgba(32, 33, 36, 0.1);
  border-radius: 0;
  border: none;
  inset: 2px 0px auto auto !important;
}
.app-navigation ul li ul:first-child {
  border: none;
}
.app-navigation ul li ul li {
  width: 100%;
}
.app-navigation ul li ul li a {
  display: block;
  font-size: initial;
}
.app-navigation ul li ul li a img {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.app-navigation ul li ul li a:hover {
  color: #ffffff;
  background-color: #0e24bb;
}
.app-navigation ul li ul.notification li {
  border-top: 1px solid #f2f3f4;
}
.app-navigation ul li ul.notification li:first-child {
  border: none;
}
.app-navigation ul li ul.notification li a {
  display: flex;
}
.app-navigation ul li ul.notification li a div p {
  margin: 0;
}

.header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.footer a:hover {
  text-decoration: underline;
  color: rgba(14, 36, 187, 0.8);
}
.footer .primary-footer .footer-column svg.maxsop {
  margin-top: -28px;
  width: 256px;
}
.footer .primary-footer .footer-column span {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 800;
  margin-bottom: 1rem;
  cursor: default;
  color: #0e24bb;
}
.footer .primary-footer .footer-column ul > li a {
  line-height: 32px;
  text-decoration: underline;
}
.footer .primary-footer .footer-column ul > li a:hover {
  text-decoration: none;
  color: #0e24bb;
}
.footer .primary-footer .footer-column article {
  padding-right: 60px;
  text-align: justify;
}
.footer .primary-footer .footer-column .social-media a {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
  background-color: rgba(32, 33, 36, 0.8);
}
.footer .primary-footer .footer-column .social-media a i {
  font-size: 24px;
  color: #ffffff;
}
.footer .primary-footer .footer-column .social-media a:hover.facebook {
  background-color: #4267B2;
}
.footer .primary-footer .footer-column .social-media a:hover.youtube {
  background-color: #FF0000;
}
.footer .primary-footer .footer-column .social-media a:hover.github {
  background-color: #171515;
}
.footer .primary-footer .footer-column .social-media a:hover.twitter {
  background-color: #00acee;
}
.footer .primary-footer .footer-column .social-media a:hover.linkedin {
  background-color: #0072b1;
}
.footer .primary-footer .footer-column .social-media a:hover.pinterest {
  background-color: #E60023;
}
.footer .secondary-footer {
  border-top: 1px solid rgba(14, 36, 187, 0.5);
}
.footer .secondary-footer nav.companies a, .footer .secondary-footer nav.policy a {
  font-weight: 800;
  margin-right: 16px;
}
.footer .secondary-footer nav.companies a:hover, .footer .secondary-footer nav.policy a:hover {
  color: rgba(14, 36, 187, 0.8);
  text-decoration: underline;
}
.footer .secondary-footer nav.companies a {
  font-size: 1.125rem;
  letter-spacing: 1px;
  line-height: 36px;
}
.footer .secondary-footer nav.policy, .footer .secondary-footer .copyright {
  font-size: 0.875rem;
}

@media (max-width: 992px) {
  .footer .primary-footer article {
    padding-right: 0 !important;
  }
  .footer .primary-footer .social-media {
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .footer .primary-footer .footer-column {
    margin-top: 2rem;
  }
  .footer .secondary-footer nav.companies a, .footer .secondary-footer nav.policy a {
    display: block;
    line-height: 2rem;
  }
  .footer .secondary-footer nav.policy a {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=app.css.map */
