@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
}

*:focus {
  box-shadow: none !important;
}

*, html {
  scroll-behavior: smooth;
  scrollbar-color: #0e24bb transparent;
  scrollbar-width: thin;
}

::selection {
  background: #0e24bb;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0e24bb;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Assistant", "Noto Sans Bengali", sans-serif;
  background-color: #F5F7FA;
  color: #202124;
}
body a {
  color: #202124;
  text-decoration: none;
}

.card {
  box-shadow: 0 5px 5px -3px rgba(32, 33, 36, 0.1);
}
.card .card-header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: #F5F7FA;
}
.card .card-header strong {
  font-weight: 500;
}
.card .card-footer {
  background-color: #F5F7FA;
  border-top-color: #e0e0e3;
}

.table tbody tr td.action a {
  margin-right: 5px;
}
.table tbody tr td.action a:last-child {
  margin-right: 0;
}

.required {
  position: relative;
}
.required::after {
  content: "*";
  position: absolute;
  right: -12px;
  top: -5px;
  color: #FF0000;
  font-size: 24px;
}

button span, a span, .btn span {
  margin-left: 5px;
}

.pagination {
  display: inline-flex;
}

svg.maxsop path {
  fill: #ffffff;
}
svg.maxsop.dark path {
  fill: #0e24bb;
}

.aside {
  display: flex;
  width: 320px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
}
.aside .nav {
  display: flex;
  flex-direction: column;
  width: 64px;
  border: none;
  z-index: 1;
  background-color: #2c2d32;
}
.aside .nav img {
  width: 36px;
  height: 36px;
}
.aside .nav button, .aside .nav a {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.25rem 0;
  color: #ffffff;
  text-align: center;
  font-size: 1.325rem;
}
.aside .nav button.active, .aside .nav a.active {
  border-left-color: white;
}
.aside .nav button.tab-bottom, .aside .nav a.tab-bottom {
  margin-top: auto;
}
.aside .nav .brand {
  display: block;
}
.aside .tab-content {
  width: 256px;
  height: 100vh;
  overflow-y: scroll;
}
.aside .tab-content h3 {
  padding: 0.5rem 0.5rem 0;
  font-weight: 800;
}
.aside .tab-content strong {
  display: block;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 400;
  margin-top: 1rem;
  padding: 0 1rem;
}
.aside .tab-content ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
}
.aside .tab-content ul li a i {
  margin-right: 0.5rem;
}
.aside .tab-content ul li a:hover {
  background-color: #f2f3f4;
}
.aside .tab-content ul li a.accordion-button:not(.collapsed) {
  background-color: #f2f3f4;
  box-shadow: none;
}
.aside .tab-content ul li a.accordion-button::after {
  opacity: 0.5;
}
.aside .tab-content ul li a.active, .aside .tab-content ul li a.accordion-button.active {
  color: #ffffff;
  background-color: #566af2;
}
.aside .tab-content ul li a.active::after, .aside .tab-content ul li a.accordion-button.active::after {
  opacity: 1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.aside .tab-content ul li ul li a {
  padding-left: 0.8rem;
}
.aside .tab-content ul li ul li a::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #c5c6cb;
  margin-right: 10px;
}
.aside .tab-content ul li ul.accordion-collapse a.active {
  color: initial;
  background-color: #f2f3f4;
}

.aside-toggle .aside {
  width: 64px;
}
.aside-toggle .aside .tab-content {
  width: 0;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 992px) {
  .aside {
    width: 64px;
  }
  .aside .tab-content {
    opacity: 0;
    visibility: hidden;
    width: 0;
  }
  .aside-toggle .aside {
    width: 320px !important;
  }
  .aside-toggle .aside .tab-content {
    width: 256px;
    opacity: 1;
    visibility: visible;
  }
  .aside-toggle .overlay {
    display: block;
    background-color: rgba(32, 33, 36, 0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
  }
}
.main {
  margin-left: 320px;
  min-height: 100vh;
  position: relative;
}
.main .header, .main .footer, .main .section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 2rem;
}

.aside-toggle .main {
  margin-left: 64px;
}

@media (max-width: 992px) {
  .main {
    margin-left: 64px;
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0;
}
.navigation > ul {
  display: flex;
}
.navigation > ul li {
  position: relative;
}
.navigation > ul li a {
  display: inline-block;
  padding: 0 10px;
  position: relative;
}
.navigation > ul li a i {
  font-size: 1.375rem;
}
.navigation > ul li a .highlight {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: #202124;
  background-color: #FB1072;
  position: absolute;
  top: 0;
  right: 10px;
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.navigation > ul li a img {
  width: 32px;
  border-radius: 50%;
}
.navigation > ul li.dropdown .dropdown-menu {
  width: 320px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
  box-shadow: 0 5px 5px -3px rgba(32, 33, 36, 0.1);
  top: 15px !important;
}
.navigation > ul li.dropdown .dropdown-menu li a {
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
}
.navigation > ul li.dropdown .dropdown-menu li a img {
  width: 48px;
  height: 48px;
}
.navigation > ul li.dropdown .dropdown-menu li a img, .navigation > ul li.dropdown .dropdown-menu li a i {
  margin-right: 12px;
}
.navigation > ul li.dropdown .dropdown-menu li a:hover {
  color: #ffffff;
  background-color: #566af2 !important;
}
.navigation > ul li.dropdown .dropdown-menu li a.user {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navigation > ul li.dropdown .dropdown-menu li a.user p {
  margin: 0;
}
.navigation > ul li.dropdown .dropdown-menu li .dropdown-divider {
  margin: 0;
}
.navigation > ul li.dropdown .dropdown-menu::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: 15px;
  transform: rotate(45deg);
  border: 1px solid #c5c6cb;
  border-right: none;
  border-bottom: none;
  background-color: #ffffff;
  z-index: -1;
}
.navigation > ul li:first-child a, .navigation > ul li:last-child a {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 768px) {
  .navigation > ul li.dropdown {
    position: static;
  }
  .navigation > ul li.dropdown .dropdown-menu {
    max-width: calc(100vw - 64px);
    width: 100%;
    height: 100vh;
    transform: translate(0, 0) !important;
    inset: 0 !important;
    border: none;
  }
  .navigation > ul li.dropdown .dropdown-menu::after {
    display: none;
  }
}
.module {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.module article p {
  margin-bottom: 0;
}
.module nav a {
  margin-left: 1.25rem;
  padding-bottom: 5px;
  line-height: 2;
  font-weight: 500;
  text-transform: uppercase;
}
.module nav a.active {
  border-bottom: 2px solid #566af2;
}

main {
  height: 100vh;
}
main .authentication {
  max-width: 480px;
  width: 100%;
}
main .authentication form {
  box-shadow: 0 5px 5px -3px rgba(32, 33, 36, 0.1);
  background-color: #ffffff;
}
main .authentication form article img {
  max-width: 256px;
  width: 100%;
}
main .authentication form div .input-group-text, main .authentication form div input, main .authentication form div .btn {
  border-radius: 0;
}
main .authentication form div .btn {
  width: 100%;
}
main .authentication form div a {
  font-weight: 400;
  color: #0e24bb;
}
main .authentication form div a:hover {
  text-decoration: underline;
}
main .authentication form div .input-group .input-group-text, main .authentication form div .input-group button {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 999;
  border: none;
  background-color: transparent;
}
main .authentication form div .input-group .input-group-text i, main .authentication form div .input-group button i {
  font-size: 20px;
  color: #747883;
}
main .authentication form div .input-group .input-group-text {
  left: 0;
}
main .authentication form div .input-group button {
  right: 0;
  padding: 0 0.8rem;
}
main .authentication form div .input-group input {
  padding-left: 42px;
  letter-spacing: 1px;
  font-size: 18px;
}
main .authentication footer a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .authentication > section > div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .authentication > section > div.container article {
    margin-bottom: 2rem;
  }
  .authentication > section > div.container article p {
    font-size: 1.3rem;
  }
  .authentication > section > div.container form {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .authentication > section > div.container {
    max-width: 100%;
  }
}
.services {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.services > section {
  display: flex;
  align-items: center;
  min-height: 80vh;
}
.services > section > .container article img {
  max-width: 512px;
  width: 100%;
  margin-bottom: 2rem;
}
.services > section > .container article h1 {
  font-weight: 800;
}
.services > section > .container nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  gap: 1rem;
}
.services > section > .container nav a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  font-size: 1.5rem;
  font-weight: 400;
  box-shadow: 0 5px 5px -3px rgba(32, 33, 36, 0.1);
  border: 1px solid #f2f3f4;
  background-color: #ffffff;
  transition: all ease 0.3s;
}
.services > section > .container nav a:hover {
  color: #ffffff;
  border: 1px solid #0e24bb;
  background-color: #0e24bb;
}
.services > footer {
  margin-top: auto;
  background-color: #ffffff;
  padding: 2.5rem 0;
}
.services > footer p {
  margin: 0;
}
.services > footer p a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .services > section > div.container nav {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 768px) {
  .services > section {
    min-height: 100vh;
  }
  .services > section > div.container {
    max-width: 100%;
  }
  .services > section > div.container nav {
    grid-template-columns: auto auto;
  }
}
.profile .module figure {
  display: flex;
  margin: 0;
}
.profile .module figure img {
  width: 128px;
  border: 5px solid #ffffff;
  margin-right: 1rem;
}
.profile .module figure figcaption h2 {
  font-weight: 800;
}
.profile form .row {
  align-items: center;
}
.profile form .row a {
  color: #566af2;
}
.profile form .row a:hover {
  color: #0e24bb;
}

/*# sourceMappingURL=app.css.map */
