@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
}

::selection {
  background: #0e24bb;
  color: #ffffff;
}

*:focus {
  box-shadow: none !important;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  transition: all ease 1s;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #FB1072;
  border-radius: 20px;
}

*::-moz-scrollbar {
  width: 5px;
}

*::-moz-scrollbar-track {
  background-color: transparent;
  transition: all ease 1s;
}

*:hover::-moz-scrollbar-thumb {
  background-color: #FB1072;
  border-radius: 20px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #202124;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Assistant", "Noto Sans Bengali", sans-serif;
  font-size: 1rem;
  color: #202124;
  background-color: #f2f3f4;
}

.details, .more {
  padding: 0.5rem 1.125rem;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid #0e24bb;
  color: #0e24bb;
  background-color: transparent;
  transition: all ease 0.3s;
}
.details:hover, .more:hover {
  color: #ffffff;
  background-color: #0e24bb;
}

.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 40px;
  color: #0e24bb;
  border: 2px solid #0e24bb;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all ease 0.3s;
}
.indicator:hover {
  color: #ffffff;
  background-color: #0e24bb;
}

.get-a-quote {
  background-color: #FB1072;
  padding: 1.125rem 1.5rem;
  border-radius: 30px;
  transition: all ease 0.3s;
  color: #ffffff;
}
.get-a-quote.animate {
  padding: 0.5rem 1rem;
}
.get-a-quote.animate span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  margin: 0 4px -3px -4px;
  animation: getAQuoteAnimate 2.5s infinite;
}
@keyframes getAQuoteAnimate {
  0% {
    box-shadow: 0 0 0 0 white;
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.get-a-quote:hover {
  color: #ffffff;
  background-color: #0e24bb;
}

.more {
  padding: 0.8rem 1.5rem !important;
}
.more i {
  font-size: 1.125rem;
  margin-left: 5px;
}

.details {
  padding: 0.8rem 1.75rem !important;
  border-radius: 28px;
  border-color: #FB1072;
  background-color: #FB1072;
  color: #ffffff;
  font-weight: 800;
}
.details i {
  font-size: 1.125rem;
  margin-left: 5px;
}
.details:hover {
  border-color: #0e24bb;
  background-color: #0e24bb;
}

svg.view {
  width: 100px;
}

svg.maxsop path {
  fill: #ffffff;
}
svg.maxsop.dark path {
  fill: #0e24bb;
}

.app-aside {
  width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  display: flex;
  background-color: white;
  z-index: 999;
}
.app-aside .nav {
  display: flex;
  flex-direction: column;
  max-width: 64px;
  width: 100%;
  border-right: 1px solid #f2f3f4;
  position: relative;
}
.app-aside .nav .brand {
  display: block;
  padding: 5px 10px;
  margin-bottom: 8px;
}
.app-aside .nav .brand img {
  max-width: 96px;
  width: 100%;
}
.app-aside .nav button, .app-aside .nav a {
  border: 4px solid transparent;
  margin-bottom: 2px;
  background-color: transparent;
  text-align: center;
}
.app-aside .nav button i, .app-aside .nav a i {
  font-size: 1.375rem;
}
.app-aside .nav button.active, .app-aside .nav a.active {
  border-left: 4px solid #0e24bb;
}
.app-aside .nav button.active i, .app-aside .nav a.active i {
  color: #0e24bb;
}
.app-aside .nav div {
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.app-aside .tab-content {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}
.app-aside .tab-content h3 {
  padding: 0.8rem 1rem;
  font-weight: 800;
}
.app-aside .tab-content ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.4rem 1rem;
}
.app-aside .tab-content ul li a i {
  margin-right: 8px;
}
.app-aside .tab-content ul li a:hover {
  background-color: #f2f3f4;
}
.app-aside .tab-content ul li a.active {
  background-color: #f2f3f4;
}
.app-aside .tab-content ul li a.accordion-button:not(.collapsed) {
  background-color: #f2f3f4;
  box-shadow: none;
}
.app-aside .tab-content ul li a.accordion-button::after {
  opacity: 0.5;
}
.app-aside .tab-content ul li ul li a {
  position: relative;
  padding-left: 20px;
}
.app-aside .tab-content ul li ul li a::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #202124;
  margin-right: 10px;
}

.app-content {
  margin-left: 320px;
  min-height: 100vh;
}

.aside-toggle .app-aside {
  width: 64px;
}
.aside-toggle .app-aside .tab-content {
  width: 0;
  opacity: 0;
  visibility: hidden;
}
.aside-toggle .app-content {
  margin-left: 64px;
}

@media (max-width: 992px) {
  .app-aside {
    width: 64px;
  }
  .app-aside .tab-content {
    opacity: 0;
    visibility: hidden;
    width: 0;
  }
  .app-content {
    margin-left: 64px;
  }
  .aside-toggle .app-aside {
    width: 320px;
  }
  .aside-toggle .app-aside .tab-content {
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
  .aside-toggle .overlay {
    display: block;
    background-color: rgba(32, 33, 36, 0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
  }
}
.main-navigation {
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all ease 0.3s;
  padding: 0;
}
.main-navigation .nav-item {
  position: relative;
}
.main-navigation .nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 15%;
}
.main-navigation .nav-item .nav-link {
  color: #ffffff;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  line-height: 58px;
  border-bottom: 4px solid transparent;
}
.main-navigation .nav-item .nav-link:hover {
  color: #202124;
}
.main-navigation .nav-item .nav-link.active {
  border-bottom-color: #FB1072;
}
.main-navigation .nav-item .dropdown {
  position: absolute;
  background-color: #0e24bb;
  padding-left: 0;
  left: 0;
  top: 100%;
  width: auto;
  transform: translateY(64px);
  opacity: 0;
  visibility: hidden;
  transition: ease 0.3s;
}
.main-navigation .nav-item .dropdown a {
  padding: 12px 18px;
  min-width: 300px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-navigation .nav-item .dropdown a:hover {
  background-color: #FB1072;
}
.main-navigation .nav-item .dropdown::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #0e24bb;
  top: -10px;
  left: 40px;
  transform: rotate(45deg);
  z-index: -1;
}
.main-navigation .navbar-brand {
  padding: 0px;
}
.main-navigation .navbar-brand svg.maxsop {
  max-width: 240px;
  width: 100%;
}
.main-navigation #drawer-expand {
  border: none;
  font-size: 2rem;
  color: #ffffff;
}
.main-navigation.sticky {
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(32, 33, 36, 0.2);
}
.main-navigation.sticky .nav-item .nav-link {
  color: #202124;
}
.main-navigation.sticky .nav-item .nav-link:hover {
  color: #FB1072;
}
.main-navigation.sticky #drawer-expand {
  color: #0e24bb;
}

@media screen and (max-width: 1200px) {
  .navbar-brand {
    padding: 0;
  }
  .navbar-brand svg.maxsop {
    max-width: 140px !important;
  }
}
@media screen and (max-width: 992px) {
  .main-navigation .navbar-brand svg.maxsop, .main-navigation.sticky .navbar-brand svg.maxsop {
    max-width: 240px !important;
  }
  .main-navigation .collapse:not(.show), .main-navigation.sticky .collapse:not(.show) {
    display: block;
  }
  .main-navigation .navbar-collapse, .main-navigation.sticky .navbar-collapse {
    position: fixed;
    background-color: #0e24bb;
    width: 100vw;
    height: 100vh;
    left: 120%;
    top: 0;
    overflow: hidden;
    z-index: 999;
    padding: 2.5rem 0;
    transition: ease 0.3s;
  }
  .main-navigation .navbar-collapse.open-drawer, .main-navigation.sticky .navbar-collapse.open-drawer {
    left: 0px !important;
  }
  .main-navigation .navbar-collapse #drawer-collapse, .main-navigation.sticky .navbar-collapse #drawer-collapse {
    cursor: pointer;
    color: #ffffff;
    padding: 0 1rem;
    font-size: 1.5rem;
  }
  .main-navigation .navbar-collapse #drawer-collapse:hover, .main-navigation.sticky .navbar-collapse #drawer-collapse:hover {
    color: #FB1072;
  }
  .main-navigation .navbar-collapse .nav-item .nav-link, .main-navigation.sticky .navbar-collapse .nav-item .nav-link {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #ffffff;
  }
  .main-navigation .navbar-collapse .nav-item .nav-link:hover, .main-navigation.sticky .navbar-collapse .nav-item .nav-link:hover {
    background-color: #FB1072;
  }
  .main-navigation .navbar-collapse .nav-item .dropdown, .main-navigation.sticky .navbar-collapse .nav-item .dropdown {
    position: relative;
    background-color: transparent;
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
  .main-navigation .navbar-collapse .nav-item .dropdown::before, .main-navigation.sticky .navbar-collapse .nav-item .dropdown::before {
    display: none;
  }
  .main-navigation .get-a-quote, .main-navigation.sticky .get-a-quote {
    display: none;
  }
}
.header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.footer a:hover {
  text-decoration: underline;
  color: rgba(14, 36, 187, 0.8);
}
.footer .primary-footer .footer-column svg.maxsop {
  margin-top: -28px;
  width: 256px;
}
.footer .primary-footer .footer-column span {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 800;
  margin-bottom: 1rem;
  cursor: default;
  color: #0e24bb;
}
.footer .primary-footer .footer-column ul > li a {
  line-height: 32px;
  text-decoration: underline;
}
.footer .primary-footer .footer-column ul > li a:hover {
  text-decoration: none;
  color: #0e24bb;
}
.footer .primary-footer .footer-column article {
  padding-right: 60px;
  text-align: justify;
}
.footer .primary-footer .footer-column .social-media a {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
  background-color: rgba(32, 33, 36, 0.8);
}
.footer .primary-footer .footer-column .social-media a i {
  font-size: 24px;
  color: #ffffff;
}
.footer .primary-footer .footer-column .social-media a:hover.facebook {
  background-color: #4267B2;
}
.footer .primary-footer .footer-column .social-media a:hover.youtube {
  background-color: #FF0000;
}
.footer .primary-footer .footer-column .social-media a:hover.github {
  background-color: #171515;
}
.footer .primary-footer .footer-column .social-media a:hover.twitter {
  background-color: #00acee;
}
.footer .primary-footer .footer-column .social-media a:hover.linkedin {
  background-color: #0072b1;
}
.footer .primary-footer .footer-column .social-media a:hover.pinterest {
  background-color: #E60023;
}
.footer .secondary-footer {
  border-top: 1px solid rgba(14, 36, 187, 0.5);
}
.footer .secondary-footer nav.companies a, .footer .secondary-footer nav.policy a {
  font-weight: 800;
  margin-right: 16px;
}
.footer .secondary-footer nav.companies a:hover, .footer .secondary-footer nav.policy a:hover {
  color: rgba(14, 36, 187, 0.8);
  text-decoration: underline;
}
.footer .secondary-footer nav.companies a {
  font-size: 1.125rem;
  letter-spacing: 1px;
  line-height: 36px;
}
.footer .secondary-footer nav.policy, .footer .secondary-footer .copyright {
  font-size: 0.875rem;
}

@media (max-width: 992px) {
  .footer .primary-footer article {
    padding-right: 0 !important;
  }
  .footer .primary-footer .social-media {
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .footer .primary-footer .footer-column {
    margin-top: 2rem;
  }
  .footer .secondary-footer nav.companies a, .footer .secondary-footer nav.policy a {
    display: block;
    line-height: 2rem;
  }
  .footer .secondary-footer nav.policy a {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=app.css.map */
