.module {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    article {
        p {
            margin-bottom: 0;
        }
    }
    nav {
        a {
            margin-left: 1.25rem;
            padding-bottom: 5px;
            line-height: 2;
            &.active {
                border-bottom: 2px solid $primary-light;
            }
        }
    }
}