*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
	box-shadow: none !important;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
