.authentication {
    display: flex;
    flex-direction: column;
    height: 100vh;
    & > section {
        display: flex;
        align-items: center;
        min-height: 80vh;
        & > div.container {
            display: flex;
            // align-items: center;
            article {
                padding-right: 3.75rem;
                p {
                    padding-top: 0.8rem;
                    font-size: 1.5rem;
                    font-weight: 400;
                }
                a {
                    font-weight: 400;
                    color: $primary-color;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            form {
                width: 100%;
                max-width: 400px;
                padding: 1rem;
                box-shadow: $shadow;
                background-color: $white-color;
                div {
                    .input-group-text, input, .btn {
                        border-radius: 0;
                    }
                    .btn {
                        width: 100%;
                    }
                    a {
                        font-weight: 400;
                        color: $primary-color;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .input-group {
                        .input-group-text, button {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            z-index: 999;
                            border: none;
                            background-color: transparent;
                            i {
                                font-size: 20px;
                                color: lighten($color: $black-color, $amount: 35%);
                            }
                        }
                        .input-group-text {
                            left: 0;
                        }
                        button {
                            right: 0;
                            padding: 0 0.8rem;
                        }
                        input {
                            padding-left: 42px;
                            &[type=password] {
                                letter-spacing: 2px;
                                font-size: 18px;
                            }
                        }
                        
                    }
                }
            }
        }
    }
    footer {
        margin-top: auto;
        background-color: $white-color;
        & > .container {
            padding: 2.5rem 0;
            p {
                margin: 0;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {

}