// header
.index {
	.header {
		background-image: url('../../images/header.webp');
		.hero {
			display: flex;
        	align-items: center;
			height: calc(100vh - 100px) !important;
			background-color: rgba($color: $primary-color, $alpha: 40%);
		}
	}
}

// What we do?
.services {
	.what-we-do {
		display: grid;
		grid-template-columns: auto auto auto auto;
		gap: 1rem;
		figure {
			border: 1px solid rgba($color: $primary-color, $alpha: 0.5);
			// background-color: rgba($color: $primary-color, $alpha: 0.05);
			border-radius: $border-radius;
			padding: 24px 16px;
			position: relative;
			overflow: hidden;
			margin: 0;
			img {
				max-width: 256px;
				width: 100%;

			}
			figcaption {
				h5 {
					text-transform: capitalize;
					font-weight: 800;
					margin: 1rem 0;
				}
				p {
					min-height: 200px;
				}
				a {
					text-transform: uppercase;
					font-weight: 800;
					color: $secondary-color;
					&:hover {
						color: $black-color;
					}
				}
			}
			&:hover {
				figcaption {
					h5 {
						color: $primary-color;
					}
				}
			}
			/*
			&.mobile-apps-development, &.graphic-design, &.digital-marketing, &.education {
				border-color: rgba($color: $secondary-color, $alpha: 0.05);
				background-color: rgba($color: $secondary-color, $alpha: 0.05);
			}
			*/
		}
	}
}

@media (max-width: 992px) {
    .services {
		.what-we-do {
			grid-template-columns: auto auto;
		}
	}
}

@media (max-width: 768px) {
    .services {
		.what-we-do {
			grid-template-columns: auto;
		}
	}
}

// Our latest works
.porfolio {
	figure {
		overflow: hidden;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			transition: all ease $transition;
			background-color: rgba($color: $primary-color, $alpha: 0.05);
		}
		img {
			width: 100%;
		}
		figcaption {
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			height: 30%;
			background-color: $secondary-color;
			transition: all ease $transition;
			a {
				display: block;
				color: $white-color;
				padding: 16px;
				height: 100%;
			}
		}
		&:hover {
			&::before {
				background-color: rgba($color: $black-color, $alpha: 0.8);
			}
			figcaption {
				top: 70%;
				transition: all ease $transition;
			}
		}
	}
}

@media (max-width: 992px) {
    .button-circle {
		display: none;
	}
}

@media (max-width: 768px) {
    figure {
		border-radius: $border-radius;
	}
}

// Methodology
.methodology {
	.working-process {
		display: grid;
		grid-template-columns: 30% 40% 30%;
		div {
			article {
				min-height: 180px;
				h4 {
					display: flex;
					align-items: baseline;
					font-weight: 800;
					em {
						display: inline-block;
						font-style: normal;
						font-size: 2.75rem;
						color: $secondary-color;
						padding-right: 1rem;
					}
				}
			}
			&:first-child {
				article {
					text-align: right;
					h4 {
						flex-direction: row-reverse;
						justify-content: end;
						em {
							padding-right: 0;
							padding-left: 1rem;
						}
					}
				}
			}
		}
		
	}
}

@media (max-width: 1200px) {
    .methodology {
		.working-process {
			grid-template-columns: 50% 50%;
			div {
				&.info-graphic {
					display: none;
				}
				&:first-child {
					article {
						text-align: left;
						h4 {
							flex-direction: row;
							justify-content: start;
							em {
								padding-right: 1rem;
								padding-left: 0;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
    .methodology {
		.working-process {
			grid-template-columns: 100%;
			gap: 0;
			div {
				article {
					min-height: 120px;
				}
			}
		}
	}
}

// Industries We Serve
.industries {
	.we-serve {
		display: grid;
		grid-template-columns: auto auto auto auto;
		gap: 0.5rem;
		figure {
			text-align: center;
			margin: 0;
			position: relative;
			border-radius: $border-radius;
			overflow: hidden;
			img {
				max-width: 512px;
				width: 100%;
				filter: contrast(250%);
				transform: scale(1.5);
				transition: all ease $transition;
			}
			figcaption {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba($color: $black-color, $alpha: 0.8);
				a {
					display: block;
					width: 100%;
					height: 100%;
					padding: 1.125rem;
					strong {
						display: block;
						font-size: 1.25rem;
						color: $white-color;
						margin-bottom: 1.75rem;
					}
					img, svg {
						width: 56px;
					}
				}
			}
			&:hover {
				& > img {
					transform: scale(1);
				}	
			}
		}
	}
}

@media (max-width: 1200px) {
	.industries {
		.we-serve {
			figure {
				figcaption {
					a {
						strong {
							font-size: 1.125rem;
							margin-bottom: 1.5rem;
						}
						img, svg {
							width: 36px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.industries {
		.we-serve {
			grid-template-columns: auto auto auto;
			figure {
				figcaption {
					a {
						strong {
							margin-bottom: 1.25rem;
						}
						img, svg {
							width: 48px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.industries {
		.we-serve {
			grid-template-columns: auto auto;
			figure {
				figcaption {
					a {
						strong {
							font-size: 1.25rem;
							margin-bottom: 1.75rem;
						}
						img, svg {
							width: 56px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.industries {
		.we-serve {
			grid-template-columns: auto;
			figure {
				figcaption {
					a {
						padding: 3rem;
						strong {
							font-size: 1.75rem;
							margin-bottom: 2rem;
						}
						img, svg {
							width: 64px;
						}
					}
				}
			}
		}
	}
}

// Case Studies 
.case-studies {
	.case {
		background-image: url('../../images/case_study.jpg');
		border-radius: $border-radius;
		overflow: hidden;
		figure {
			margin: 0;
			color: $white-color;
			background-color: rgba($color: $primary-color, $alpha: 0.8);
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: space-between;
			padding: 32px 96px;
			img {
				transform: rotate(0deg);
			}
			figcaption {
				max-width: 600px;
				width: 100%;
				h4 {
					font-size: 1.75rem;
					font-weight: 300;
					line-height: 40px;
				}
				nav {
					a {
						margin: 1rem 0.5rem 3rem 0;
						font-size: 12px;
						display: inline-block;
						padding: 0 16px;
						line-height: 24px;
						border-radius: 14px;
						color: $primary-color;
						background-color: $white-color;
					}
				}
			}
		}
	}
	.more {
		@extend %button;
		color: $white-color;
		border-color: $white-color;
		border-radius: 28px;
		&:hover {
			color: $primary-color;
			background-color: $white-color;
		}
		&.view-all {
			color: $primary-color;
			border-color: $primary-color;
			&:hover {
				color: $white-color;
				background-color: $primary-color;
			}
		}
	}
}

@media (max-width: 1200px) {
	.case-studies {
		.case {
			figure {
				padding: 32px 48px;
				img {
					max-width: 400px;
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.case-studies {
		.case {
			figure {
				padding: 18px 24px;
				img {
					max-width: 350px;
				}
				figcaption {
					h4 {
						font-size: 1.50rem;
					}
					nav {
						margin-bottom: 1.75rem;
						a {
							margin: 0 0.2rem 0.4rem 0;
						}
						
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.case-studies {
		.case {
			figure {
				padding: 64px 36px;
				img {
					display: none;
				}
				figcaption {
					h4 {
						font-size: 1.75rem;
					}
					nav {
						a {
							margin: 1rem 0.5rem 3rem 0;
						}
					}
				}
			}
		}
	}
}

// Why MaxSOP section
.about {
	// background-color: rgba($color: $primary-color, $alpha: 0.05);
	h4 {
		text-transform: uppercase;
	}
	.facts, .features {
		display: grid;
		grid-template-columns: auto auto auto auto;
		gap: 1rem;
	}
	.facts {
		figure {
			display: flex;
			padding: 1rem;
			border: 1px solid rgba($color: $primary-color, $alpha: 0.5);
			border-radius: $border-radius;
			margin: 0;
			img {
				width: 64px;
				height: 64px;
				margin-right: 1rem;
			}
			figcaption {
				strong, p {
					font-weight: 800;
				}
				strong {
					text-transform: uppercase;
					font-weight: 800;
					font-size: 2.125rem;
					color: $primary-color;
				}
				p {
					font-size: 1.128rem;
				}
			}
		}
	}
	.features {
		strong {
			text-transform: uppercase;
			line-height: 2;
		}
	}
	.get-a-quote {
		i {
			margin-left: 50px;
		}
	}
}

@media (max-width: 1200px) {
    .about {
		.facts, .features {
			grid-template-columns: auto auto auto;
		}
	}
}

@media (max-width: 992px) {
    .about {
		.facts, .features {
			grid-template-columns: auto auto;
		}
	}
}

@media (max-width: 768px) {
	.about {
		.facts, .features {
			grid-template-columns: auto;
		}
	}
}

// Technologies and Platforms We Work With 
.technologies {
	background-color: rgba($color: $primary-color, $alpha: 0.05);
	h2 {
		font-weight: 800;
		color: $primary-color;
	}
	img {
		width: 128px;
		margin: 0 1rem 1rem;
		// filter: grayscale(100%);
		transition: all ease $transition;
		&:hover {
			filter: grayscale(100%);
		}
	}
}

// Testimonials 
.our-clients {
	.customers {
		display: grid;
		grid-template-columns: auto auto auto auto auto;
		figure {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			margin: 0;
			padding: 1rem 1.75rem;
			border: 1px solid rgba($color: $black-color, $alpha: 0.1);
			img {
				width: 128px;
				margin-bottom: 8px;
			}
			figcaption {
				font-size: 14px;
			}
		}
		
	}
	.testimonials {
		article {
			position: relative;
			padding: 2rem;
			& > img {
				height: 96px;
			}
			& > strong {
				display: block;
				font-size: 1.25rem;
				margin: 1.125rem 0;
			}
			& > p {
				min-height: 150px;
				font-size: 1.125rem;
				margin-bottom: 3rem;
				&::before {
					content: "\201C";
					font-size: 3rem;
					font-weight: 800;
					line-height: 3rem;
					color: $secondary-color;
				}
			}
			div {
				display: flex;
				align-items: center;
				img {
					width: 96px;
					height: 96px;
					border-radius: 50%;
					margin-right: 16px;
				}
				strong {
					display: block;
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.our-clients {
		.customers {
			grid-template-columns: auto auto auto;
			figure {
				border-radius: 0;
			}
		}
	}
}

@media (max-width: 768px) {
	.our-clients {
		.customers {
			grid-template-columns: auto auto;
		}
		.see-more {
			width: 100%;
			text-align: left;
			border: none;
			padding: 0;
			margin-bottom: 1.125rem;
			&:hover {
				color: rgba($color: $primary-color, $alpha: 0.8);
				background-color: transparent;
			}
		}
	}
}

@media (max-width: 576px) {
	.our-clients {
		.customers {
			grid-template-columns: auto;
			figure {
				justify-content: start;
				align-items: flex-start;
			}
		}
	}
}

// Blog and resources
.blog {
	article {
		a {
			color: $black-color;
			img {
				width: 100%;
				border-radius: $border-radius;
				transition: all ease $transition;
			}
			&:hover {
				h4 {
					color: rgba($color: $primary-color, $alpha: 0.8);
				}
				img {
					filter: grayscale(100%);
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.blog {
		article {
			margin-bottom: 3rem;
		}
	}
}

// Awards & Recognition 

// subscribe
.subscribe {
	background-image: url(../../images/subscribe.png);
	background-size: cover;
	color: $white-color;
	h2 {
		text-transform: capitalize;
		font-weight: 800;
	}
	form {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 580px;
		width: 100%;
		height: 56px;
		border-radius: 30px;
		overflow: hidden;
		background-color: $white-color;
		input {
			width: 380px;
			height: 100%;
			border: 0;
			outline: 0;
			padding: 0 16px;
			background-color: transparent;
		}
		button {
			width: 130px;
			height: 84%;
			border: 0;
			border-radius: 35px;
			background-color: $secondary-color;
			color: $white-color;
			margin-right: 5px;
			padding: 0 1rem;
			transition: all ease $transition;
			letter-spacing: 1px;
			&:hover {
				background-color: $primary-color;
			} 
		}
	}
}
