.portfolio {
  .header {
    background-image: url("../../images/portfolio.jpg");
  }
}

.portfolio {
  .main {
    padding-top: 0;
    nav {
      position: relative;
      background-color: rgba($color: $primary-color, $alpha: 0.8);
      margin-bottom: 150px;
      & > .container {
        display: flex;
        justify-content: space-between;
        ul {
          display: flex;
          li {
            padding-right: 1.75rem;
            &:last-child {
              padding-right: 0;
            }
            a {
              display: block;
              color: $white-color;
              padding: 1.125rem 0;
              font-weight: 800;
              border-bottom: 5px solid transparent;
              &.active {
                border-bottom: 5px solid $secondary-color;
              }
            }
          }
        }
        ul.filter {
          li {
            .dropdown {
              display: none;
              position: absolute;
              top: 65px;
              left: 0;
              width: 100%;
              padding: 1.75rem 0;
              box-shadow: $shadow;
              background-color: rgba($color: $white-color, $alpha: 1);
              a {
                color: $black-color;
                display: inline-block;
                border: 1px solid $secondary-color;
                margin: 5px;
                padding: 0.2rem 1rem;
                border-radius: $border-radius;
                transition: all ease $transition;
                &:hover {
                  background-color: $secondary-color;
                  color: $white-color;
                }
              }
            }
            &:hover {
              .dropdown {
                display: block;
              }
            }
          }
        }
      }
    }
    .projects {
      .project {
        &:hover {
          background-color: rgba($color: $black-color, $alpha: 0.05);
        }
        div.container {
          display: grid;
          grid-template-columns: 60% 40%;
          align-items: center;
          padding: 2.75rem 0;
          article {
            padding-right: 3rem;
            h2 {
              font-weight: 800;
              margin-bottom: 1rem;
            }
            figure {
              img {
                width: 36px;
                margin-right: 1rem;
              }
            }
            p {
              margin-bottom: 1.75rem;
            }
          }
          figure {
            img {
              width: 100%;
              border-radius: $border-radius;
            }
          }
        }
      }
      .hide {
        display: none;
      }
    }
  }
}

@media (max-width: 992px) {
}
