.change-avatar {
    width: 256px;
    position: relative;
    border: 1px dotted $primary-color;
    img {
        width: 100%;
    }
    label[for='avatar-input'] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: center;
        input[type='file'] {
            visibility: hidden;
        }
        span {
            font-weight: 700;
            margin-bottom: 0.5rem;
            color: $primary-color;
            text-transform: uppercase;
        }
    }
}