.services {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    & > section {
        display: flex;
        align-items: center;
        min-height: 80vh;
        & > .container {
            article {
                img {
                    max-width: 512px;
                    width: 100%;
                    margin-bottom: 2rem;
                }
                h1 {font-weight: 800;}
            }
            nav {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, 230px);
                gap: 1rem;
                a {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: 120px;
                    font-size: 1.5rem;
                    font-weight: 400;
                    box-shadow: $shadow;
                    border: 1px solid lighten($color: $black-color, $amount: 82%);
                    background-color: $white-color;
                    transition: all ease $transition-time;
                    &:hover {
                        color: $white-color;
                        border: 1px solid $primary-color;
                        background-color: $primary-color;
                    }
                }
            }
        }
    }
    & > footer {
        margin-top: auto;
        background-color: $white-color;
        padding: 2.5rem 0;
        p {
            margin: 0;
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .services {
        & > section {
            & > div.container {
                nav {
                    grid-template-columns: auto auto auto;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .services {
        & > section {
            min-height: 100vh;
            & > div.container {
                max-width: 100%;
                nav {
                    grid-template-columns: auto auto;
                }
            }
        }
    }
}