.services {
    .header {
        background-image: url('../../images/services.webp');
    }
}

.services-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5rem;
    article {
        border: 1px solid $primary-color;
        border-radius: $border-radius;
        overflow: hidden;
        transition: all ease $transition;
        a {
            display: block;
            padding: 1rem;
            color: $black-color;
            h4 {
                font-weight: 800;
                margin-bottom: 1rem;
            }
        }
        &:hover {
            background-color: rgba($color: $primary-color, $alpha: 1.0);
            a {
                color: $white-color;
            }
        }
    }
}

@media (max-width: 992px) {
    .services-list {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 768px) {
    .services-list {
        grid-template-columns: auto;
    }
}

.approach {
    border-radius: $border-radius;
    overflow: hidden;
    display: grid;
    grid-template-columns: 40% 60%;
    nav, .tab-content {
        padding: 2.75rem 3.75rem;
    }
    nav {
        background-color: rgba($color: $primary-color, $alpha: 1.0);
        color: $white-color;
        h3 {
            margin-bottom: 2rem;
        }
        ul {
            display: flex;
            flex-direction: column;
            li {
                max-width: 300px;
                width: 100%;
                display: inline;
                padding: 0.5rem 0;
                cursor: pointer;
                margin-bottom: 5px;
                &.active {
                    font-weight: 800;
                    border-bottom: 2px solid $secondary-color;
                }
                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
    .tab-content {
        background-color: rgba($color: $primary-color, $alpha: 0.05);
        article {
            h3 {
                margin-bottom: 1.75rem;
            }
            ul {
                margin-bottom: 2.75rem;
                list-style: disc inside;
            }
            a {
                border-radius: 30px;
                border: none;
                background-color: $secondary-color;
                color: $white-color;
                &:hover {
                    background-color: $primary-color;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .approach {
        grid-template-columns: 40% 60%;
        nav, .tab-content {
            padding: 2.75rem 1.75rem;
        }
    }
}

@media (max-width: 768px) {
    .approach {
        grid-template-columns: 100%;
        nav, .tab-content {
            padding: 2.75rem 3.75rem;
        }
    }
}

.explore-works {
    article {
        a {
            border-radius: 30px;
            border: none;
            background-color: $secondary-color;
            color: $white-color;
            &:hover {
                background-color: $primary-color;
            }
        }
    }
}

@media (max-width: 768px) {
    .explore-works {
        padding: 5.33rem 0;
        figure {
            display: none;
        }
    }
}