// page style
.software, .ecommerce, .business, .iot {
	article {
		// border: 1px solid $black-color;
		border-radius: $border-radius;
		overflow: hidden;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		a {
			display: block;
			padding: 2rem 2.5rem;
			width: 100%;
			height: 100%;
			color: $white-color;
			h3, p, ul, svg {
				margin-bottom: 1.5rem;
			}
			ul {
				list-style: disc inside none;
			}
			svg {
				width: 100px;
				transition: all ease $transition;
				fill: $white-color;
			}
			&:hover {
				color: $white-color;
				svg {
					fill: $secondary-color;
				}
			}
		}
	}
}

// header 
.solutions {
	.header {
		background-image: url('../../images/solutions.jpg');
	}
}

.solutions {
	.pos, 
	.ecommerce,
	.hospitality-and-tourism,
	.iot {
		a {
			ul {
				display: grid;
				grid-template-columns: auto auto auto;
			}
		}
	}
}

@media (max-width: 992px) {
    .solutions {
		.pos, 
		.ecommerce,
		.hospitality-and-tourism,
		.iot {
			a {
				ul {
					grid-template-columns: auto auto;
				}
			}
		}
	}
}

@media (max-width: 768px) {
    .solutions {
		.pos, 
		.ecommerce,
		.hospitality-and-tourism,
		.iot {
			a {
				ul {
					grid-template-columns: auto;
				}
			}
		}
	}
}

// softwart
.solutions {
	.software {
		.pos {
			article {
				background-image: url('../../images/pos.jpg');
				a {
					background-color: rgba($color: $primary-color, $alpha: 0.6);
				}
			}
		}
		.business-solutions {
			display: grid;
			grid-template-columns: auto auto auto;
			gap: 2rem;
			article {
				background-color: rgba($color: $primary-color, $alpha: 1.0);
			}
		}
	}
}

@media (max-width: 992px) {
    .solutions {
		.software {
			.business-solutions {
				grid-template-columns: auto auto;
				.erp {
					grid-column: 1 / 3;
				}
			}
		}
	}
}

@media (max-width: 768px) {
    .solutions {
		.software {
			.business-solutions {
				grid-template-columns: auto;
				.erp {
					grid-column: 1;
				}
			}
		}
	}
}

// ecommerce
.solutions {
	.ecommerce {
		article {
			background-image: url('../../images/ecommerce_solution.jpg');
			a {
				background-color: rgba($color: $black-color, $alpha: 0.7);
			}
		}
	}
}

// daily life
.solutions {
	.business {
		.daily-life {
			display: grid;
			grid-template-columns: auto auto;
			gap: 2rem;
			article {
				&.financial-and-accounting {
					background-image: url('../../images/financial_and_accounting.jpg');
				}
				&.hospitality-and-clinic {
					background-image: url('../../images/hospitality_and_clinic.jpg');
				}
				&.learning-and-online-exam {
					background-image: url('../../images/learning_and_online_exam.jpg');
				}
				&.classified-site {
					background-image: url('../../images/classified_site.jpg');
				}
				a {
					background-color: rgba($color: $black-color, $alpha: 0.7);
				}
			}
		}
		.hospitality-and-tourism {
			background-image: url('../../images/hospitality_and_tourism.jpg');
			a {
				background-color: rgba($color: $primary-color, $alpha: 0.7);
			}
		}
	}
}

@media (max-width: 768px) {
    .solutions {
		.business {
			.daily-life {
				grid-template-columns: auto;
			}
		}
	}
}

// iot
.solutions {
	.iot {
		article {
			background-image: url('../../images/iot.jpg');
			a {
				background-color: rgba($color: $primary-color, $alpha: 0.7);
				color: $white-color;
			}
		}
	}
}