.app-aside {
    display: flex;
    width: 320px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba($color: $white-color, $alpha: 1);
    border-right: 1px solid lighten($color: $black-color, $amount: 82%);
    .nav {
        display: flex;
        flex-direction: column;
        max-width: 64px;
        width: 100%;
        border-right: 1px solid lighten($color: $black-color, $amount: 82%);
        position: relative;
        .brand {
            display: block;
            padding: 12px 10px;
            // margin-bottom: 8px;
            border-bottom: 1px solid lighten($color: $black-color, $amount: 82%);
            img {
                max-width: 33px;
                width: 100%;
            }
        }
        button, a {
            border: 4px solid transparent;
            margin-bottom: 2px;
            background-color: transparent;
            text-align: center;
            i {
                font-size: 1.375rem;
            }
            &.active {
                border-left: 4px solid rgba($color: $primary-color, $alpha: 1);
                i {
                    color: rgba($color: $primary-color, $alpha: 1);
                }
            }
        }
        div {
            position: absolute;
            left: 0;
            bottom: 0.5rem;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
    .tab-content {
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        h3 {
            margin-bottom: 0;
            padding: 12px 16px;
            font-weight: 800;
            border-bottom: 1px solid lighten($color: $black-color, $amount: 82%);
        }
        ul {
            li {
                a {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 0.4rem 1rem;
                    // transition: all ease $transition-time;
                    i {
                        margin-right: 8px;
                    }
                    &:hover {
                        background-color: lighten($color: $black-color, $amount: 82%);
                    }
                    &.active {
                        background-color: lighten($color: $black-color, $amount: 82%);
                    }
                    &.accordion-button:not(.collapsed) {
                        background-color: lighten($color: $black-color, $amount: 82%);
                        box-shadow: none;
                    }
                    &.accordion-button::after{
                        opacity: 0.5;
                    }
                }
                ul {
                    li {
                        a {
                            position: relative;
                            padding-left: 20px;
                            &::before {
                                content: "";
                                display: block;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                border: 1px solid $black-color;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.aside-toggle {
    .app-aside {
        width: 64px;
        .tab-content {
            width: 0;
            opacity: 0;
            visibility: hidden;
        }
    }
}

@media (max-width: 992px) {
    .app-aside {
        width: 64px;
        .tab-content {
            opacity: 0;
            visibility: hidden;
            width: 0;
        }
    }
    .aside-toggle {
        .app-aside {
            width: 320px;
            .tab-content {
                width: 100%;
                opacity: 1;
                visibility: visible;
            }
        }
        .overlay {
            display: block;
            background-color: rgba($color: $black-color, $alpha: 0.5);
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            z-index: 1;
        }
    }
}
