.header {
	// background-color: $white-color;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding-top: 12px;
	padding-bottom: 12px;
	.module {
		strong {
			font-size: 1.5rem;
		}
	}
}

@media (max-width: 768px) {
	.header {}
}
