.main {
    margin-left: 320px;
    min-height: 100vh;
    position: relative;
    .header, .footer, .section {
        // padding: 0 1rem;
    }
}

.aside-toggle {
    .main {
        margin-left: 64px;
    }
}

@media (max-width: 992px) {
    .main {
        margin-left: 64px;
    }
}
