.app-content {
    margin-left: 320px;
    min-height: 100vh;
    position: relative;
}

.aside-toggle {
    .app-content {
        margin-left: 64px;
    }
}

@media (max-width: 992px) {
    .app-content {
        margin-left: 64px;
    }
}
