.app-navigation {
    background-color: $white-color;
    padding: 0 16px;
    border-bottom: 1px solid lighten($color: $black-color, $amount: 82%);
    ul {
        display: flex;
        justify-content: end;
        align-items: center;
        li {
            position: relative;
            a {
                display: inline-block;
                padding: 10px 16px;
                font-size: 1.375rem;
                position: relative;
                .highlight {
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    color: $black-color;
                    background-color: $secondary-color;
                    position: absolute;
                    top: 10px;
                    right: 5px;
                    animation: blinker 1.5s linear infinite;
                    @keyframes blinker {  
                        50% { opacity: 0; }
                    }
                }
                &.user {
                    img {
                        width: 36px;
                        border-radius: 50%;
                    }
                }
            }
            ul {
                display: none;
                width: 350px;
                background-color: $white-color;
                box-shadow: $shadow;
                border-radius: 0;
                border: none;
                inset: 2px 0px auto auto !important;
                &:first-child {
                    border: none;
                }
                li {
                    width: 100%;
                    a {
                        display: block;
                        font-size: initial;
                        img {
                            width: 48px;
                            height: 48px;
                            margin-right: 16px;
                        }
                        &:hover {
                            color: $white-color;
                            background-color: $primary-color;
                        }
                    }
                }
                &.notification {
                    li {
                        &:first-child {
                            border: none;
                        }
                        border-top: 1px solid lighten($color: $black-color, $amount: 82%);
                        a {
                            display: flex;
                            div {
                                p {
                                   margin: 0; 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
