.navigation {
    ul {
        display: flex;
        justify-content: end;
        align-items: center;
        li {
            position: relative;
            a {
                display: inline-block;
                padding: 0 10px;
                position: relative;
                i {
                    font-size: 1.375rem;
                }
                .highlight {
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    color: $black-color;
                    background-color: $secondary-color;
                    position: absolute;
                    top: 0;
                    right: 10px;
                    animation: blinker 1.5s linear infinite;
                    @keyframes blinker {  
                        50% { opacity: 0; }
                    }
                }
                &.user {
                    padding-right: 0;
                    img {
                        width: 32px;
                        border-radius: 50%;
                    }
                }
            }
            ul {
                display: none;
                width: 350px;
                background-color: $white-color;
                box-shadow: $shadow;
                border-radius: 0;
                position: absolute;
                top: 16px !important;
                right: 0;
                position: relative;
                z-index: 1;
                border: 1px solid lighten($color: $black-color, $amount: 75%);
                &::before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    background-color: lighten($color: $black-color, $amount: 65%);
                    position: absolute;
                    top: -8px;
                    right: 5px;
                    z-index: -1;
                    transform: rotate(45deg);
                }
                li {
                    width: 100%;
                    a {
                        display: flex;
                        align-items: center;
                        padding: 8px 16px;
                        img {
                            width: 48px;
                            height: 48px;
                        }
                        img, i {
                            margin-right: 12px;
                        }
                        &:hover {
                            color: $white-color;
                            background-color: $primary-color !important;
                        }
                    }
                }
                &.dropdown-menu {
                    padding-top: 0;
                    padding-bottom: 0;
                    li:first-child > a {
                        padding-top: 16px;
                        padding-bottom: 16px;
                        background-color: $white-color;
                    }
                    .dropdown-divider {
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
	.navigation {
        ul {
            border: none;
            li {
                position: static;
                ul {
                    &::before {
                        display: none;
                    }
                    &.dropdown-menu {
                        width: calc(100vw - 64px);
                        height: 100vh;
                        transform: translate(0, 0) !important;
                        inset: 0 0  0 0 !important;
                    }
                }
            }
        }
    }
}
