.card {
    border-radius: 0;
    box-shadow: $shadow;
    .card-header {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        background-color: $body-color;
        strong {
            font-weight: 500;
        }
    }
    .card-body {}
    .card-footer {
        background-color: $body-color;
        border-top-color: lighten($color: $black-color, $amount: 75%);
    }
}