.modal {
    .modal-dialog {
        max-width: 768px;
        width: 100%;
        .modal-content {
            border-radius: 1rem;
            .modal-header, .modal-body, .modal-footer {
                padding: 1.5rem;
                border: none;
            }
        }
    }
}

@media (max-width: 992px) {
    .modal {
        .modal-dialog {
            margin: 0;
            .modal-content {
                width: 100vw;
                height: 100vh;
                border-radius: 0;
            }
        }
    }

}
