.modal {
    &.modal-right {
        .modal-dialog {
            position: fixed;
            margin: auto;
            max-width: 768px;
            width: 100%;
            right: -768px;
            transform: translate(0, 0);
            .modal-content {
                width: 100%;
                height: 100vh;
                overflow-y: auto;
                border-radius: 0;
                border: none;
            }
        }
        &.show {
            .modal-dialog {
                right: 0;
                transition: opacity 0.3s linear, right 0.3s ease-out;
            }
        }
        
    }
    .modal-dialog {
        max-width: 768px;
        width: 100%;
        .modal-content {
            border-radius: 1rem;
            .modal-header, .modal-body, .modal-footer {
                padding: 1.5rem;
                border: none;
            }
        }
    }
}

@media (max-width: 992px) {
    .modal {
        &.modal-right {
            .modal-dialog {
                max-width: 100vw;
            }
        }
        .modal-dialog {
            margin: 0;
            .modal-content {
                width: 100vw;
                height: 100vh;
                border-radius: 0;
            }
        }
    }

}
