/* Error: Undefined variable.
 *   ,
 * 8 |                 border: 5px solid $white-color;
 *   |                                   ^^^^^^^^^^^^
 *   '
 *   scss/pages/profile.scss 8:35  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 8 \2502                  border: 5px solid $white-color;\a   \2502                                    ^^^^^^^^^^^^\a   \2575 \a   scss/pages/profile.scss 8:35  root stylesheet";
}
