%social-icons {
    display: block;
    background-color: rgba($color: $white-color, $alpha: 0.3);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 22px;
    text-align: center;
    line-height: 43px;
    color: $white-color;
    transition: ease 0.15s;
    &:hover {
        background-color: $primary-color;
    }
}

// use 
// @extend %social-icons;
