// Accent colors
$primary-color: #0E24BB; // Persian Blue
$secondary-color: #FB1072; // Daffodil
$tertiary-color: #00D5A7; // Bright Turquoise

// Neutral colors
$white-color: #FFFFFF; // Pure White
$black-color: #202124; // Black Russian(Very dark shade of Blue)

// Config
$body-color: #F8F9FA;
$text-color: darken($primary-color, 25%);
$text-disabled-color: lighten($black-color, 45%);

// Extra 
$primary-light: lighten($color: $primary-color, $amount: 25%);
$primary-dark: darken($color: $primary-color, $amount: 0%);
$shadow: 0 5px 5px -3px rgb(32 33 36 / 10%);
$transition-time: 0.3s;
$transition: 0.3s;
$border-radius: 8px;