// Accent colors
$primary-color: #0e24bb; // Persian Blue
$primary-light: lighten($color: $primary-color, $amount: 25%);
$primary-dark: darken($color: $primary-color, $amount: 0%);

$secondary-color: #FB1072; // Daffodil
$tertiary-color: #00D5A7; // Bright Turquoise

// Neutral colors
$white-color: #ffffff; // Pure White
$black-color: #202124; // Black Russian(Very dark shade of Blue)

// Config
$body-color: #F5F7FA;
$shadow: 0 5px 5px -3px rgb(32 33 36 / 10%);
$transition-time: 0.3s;
$transition: 0.3s;
$border-radius: 8px;

// #f5f7fa
