@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  font-family: 'Inter', sans-serif;
  /* font-family: 'Satoshi', sans-serif; */
}

.wrapper {
  @apply bg-teal-400;
}

.aside {
  width: 5rem;
  height: 100%;
  position: fixed;
  background-color: white;
}

.aside .aside-item {
  @apply flex h-10 w-10 text-purple-600 bg-indigo-600/20  items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-indigo-600/20 focus:bg-indigo-600/20 active:bg-indigo-600/25 dark:hover:bg-blue-300/20 dark:focus:bg-blue-300/20 dark:active:bg-blue-300/25
}

.aside .aside-item .active {
  @apply flex h-10 w-10 text-purple-600 bg-indigo-600/20  items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-indigo-600/20 focus:bg-indigo-600/20 active:bg-indigo-600/25 dark:hover:bg-blue-300/20 dark:focus:bg-blue-300/20 dark:active:bg-blue-300/25
}
